## 1ï¸âƒ£ NÃºmeros Enteros (int)

Los nÃºmeros enteros son aquellos sin punto decimal.

In [ ]:
# Ejemplos de nÃºmeros enteros
edad = 25
temperatura = -5
habitantes = 1000000

print(edad)
print(temperatura)
print(habitantes)

In [ ]:
# Ver el tipo de dato
print(type(edad))
print(type(25))

In [ ]:
# Operaciones con enteros
a = 10
b = 3

print("Suma:", a + b)
print("Resta:", a - b)
print("MultiplicaciÃ³n:", a * b)
print("DivisiÃ³n:", a / b)  # Nota: esto devuelve un float
print("DivisiÃ³n entera:", a // b)  # Solo la parte entera
print("MÃ³dulo (residuo):", a % b)
print("Potencia:", a ** b)  # 10 elevado a la 3

## 2ï¸âƒ£ NÃºmeros Decimales (float)

Los nÃºmeros decimales (tambiÃ©n llamados de punto flotante) incluyen un punto decimal.

In [ ]:
# Ejemplos de nÃºmeros decimales
altura = 1.75
precio = 49.99
pi = 3.14159

print(altura)
print(precio)
print(pi)

In [ ]:
# Ver el tipo de dato
print(type(altura))
print(type(3.14))

In [ ]:
# Operaciones con decimales
precio1 = 29.99
precio2 = 15.50

total = precio1 + precio2
print(f"Total: ${total}")

# Calcular descuento del 20%
descuento = total * 0.20
precio_final = total - descuento
print(f"Descuento: ${descuento}")
print(f"Precio final: ${precio_final}")

## 3ï¸âƒ£ Cadenas de Texto (str)

Las cadenas de texto (strings) son secuencias de caracteres entre comillas.

In [ ]:
# Ejemplos de strings
nombre = "Ana MarÃ­a"
ciudad = 'MÃ©rida'  # Comillas simples tambiÃ©n funcionan
mensaje = """Este es un mensaje
que ocupa varias lÃ­neas"""

print(nombre)
print(ciudad)
print(mensaje)

In [ ]:
# Ver el tipo de dato
print(type(nombre))
print(type("Hola"))

In [ ]:
# Operaciones con strings
nombre = "Carlos"
apellido = "PÃ©rez"

# ConcatenaciÃ³n (unir textos)
nombre_completo = nombre + " " + apellido
print(nombre_completo)

# RepeticiÃ³n
guiones = "-" * 20
print(guiones)

# Longitud
print(f"El nombre tiene {len(nombre)} letras")

In [ ]:
# MÃ©todos Ãºtiles de strings
texto = "hola mundo"

print(texto.upper())  # MayÃºsculas
print(texto.lower())  # MinÃºsculas
print(texto.title())  # Primera letra de cada palabra en mayÃºscula
print(texto.capitalize())  # Solo la primera letra en mayÃºscula
print(texto.replace("mundo", "Python"))  # Reemplazar texto

## 4ï¸âƒ£ Booleanos (bool)

Los valores booleanos solo pueden ser `True` (verdadero) o `False` (falso).

In [ ]:
# Ejemplos de booleanos
esta_lloviendo = False
es_mayor_edad = True

print(esta_lloviendo)
print(es_mayor_edad)
print(type(True))

In [ ]:
# Los booleanos se usan en comparaciones
edad = 20
print(edad > 18)  # Â¿Es mayor que 18?
print(edad < 18)  # Â¿Es menor que 18?
print(edad == 20)  # Â¿Es igual a 20?
print(edad != 20)  # Â¿Es diferente de 20?

In [ ]:
# Operadores lÃ³gicos
tiene_licencia = True
tiene_coche = False

puede_conducir = tiene_licencia and tiene_coche
print(f"Â¿Puede conducir? {puede_conducir}")

necesita_taxi = not tiene_coche
print(f"Â¿Necesita taxi? {necesita_taxi}")

## ðŸ”„ ConversiÃ³n Entre Tipos

A veces necesitamos convertir un tipo de dato a otro.

In [ ]:
# De string a nÃºmero
edad_texto = "25"
edad_numero = int(edad_texto)

print(f"Como texto: {edad_texto}")
print(f"Como nÃºmero: {edad_numero}")
print(f"Puedo sumar 1: {edad_numero + 1}")

In [ ]:
# De nÃºmero a string
edad = 30
edad_texto = str(edad)

mensaje = "Tengo " + edad_texto + " aÃ±os"
print(mensaje)

In [ ]:
# De string a float
precio_texto = "19.99"
precio = float(precio_texto)

print(f"Precio: ${precio}")
print(f"Con IVA: ${precio * 1.16}")

In [ ]:
# De int a float y viceversa
entero = 42
decimal = float(entero)
print(f"Entero: {entero}, Decimal: {decimal}")

decimal2 = 3.99
entero2 = int(decimal2)  # Â¡Cuidado! Se pierde la parte decimal
print(f"Decimal: {decimal2}, Entero: {entero2}")

## âš ï¸ Errores Comunes

In [ ]:
# Error: Sumar un nÃºmero y un texto
# Descomenta la siguiente lÃ­nea para ver el error
# resultado = 5 + "10"  # TypeError

# SoluciÃ³n: Convertir el texto a nÃºmero
resultado = 5 + int("10")
print(resultado)

In [ ]:
# Error: Convertir texto no numÃ©rico a nÃºmero
# Descomenta la siguiente lÃ­nea para ver el error
# numero = int("Hola")  # ValueError

# Solo podemos convertir textos que representen nÃºmeros
numero = int("123")
print(numero)

## ðŸ‘€ Vista rÃ¡pida: manejando errores con `try` y `except`

A veces el usuario puede escribir algo que no es un nÃºmero y nuestro programa se detiene con un error (`ValueError`).

MÃ¡s adelante veremos **manejo de excepciones** con mÃ¡s detalle, pero por ahora veremos un **primer vistazo** a `try` y `except` para que te suene la idea.

La idea es:
- `try`: aquÃ­ pones el cÃ³digo que *puede* fallar.
- `except`: aquÃ­ indicas quÃ© hacer si ocurre un error.

In [ ]:
# Ejemplo: pedir un nÃºmero al usuario de forma segura (primer vistazo)

texto = input("Ingresa un nÃºmero para duplicarlo: ")

try:
    numero = int(texto)
    print("El doble es:", numero * 2)
except ValueError:
    print("Eso no parece un nÃºmero vÃ¡lido. IntÃ©ntalo de nuevo mÃ¡s tarde.")

# Nota: No te preocupes si esto se ve nuevo o complejo.
# En esta sesiÃ³n solo queremos que te suene el patrÃ³n try/except.
# Lo veremos con mÃ¡s calma en sesiones futuras.

## ðŸŽ¯ Actividad PrÃ¡ctica

Crea un programa que:
1. Pida dos nÃºmeros al usuario (usando `input()`)
2. Convierta esos textos a nÃºmeros
3. Calcule la suma, resta, multiplicaciÃ³n y divisiÃ³n
4. Muestre los resultados con mensajes claros

In [ ]:
# Escribe tu cÃ³digo aquÃ­

## ðŸ“ Resumen

En este notebook aprendiste:
- âœ… Los cuatro tipos de datos bÃ¡sicos: `int`, `float`, `str`, `bool`
- âœ… CÃ³mo ver el tipo de dato con `type()`
- âœ… Operaciones especÃ­ficas para cada tipo
- âœ… CÃ³mo convertir entre tipos de datos
- âœ… Errores comunes y cÃ³mo evitarlos

**PrÃ³ximo paso:** Aprende sobre condicionales para tomar decisiones en tu cÃ³digo.